/* heading  */
.project-name > span:nth-child(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0!important;
 
}

.project-name > span:nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  padding-bottom: 1rem;
  margin-top: 0!important;
  font-size: 2.5rem;
}
.project-name {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;

}

.project-section{
     display: flex;
     justify-content: space-between;
}


/* slider  */
.project-slider{

  width:90vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin: 3rem 10rem;

}
@media screen and (max-width:680px){
  .project-slide{
    width:16rem;
  }
}