.about{
height: 40rem;
     margin: 4rem 1rem;
     margin-top: 7rem;

}
@media screen and (max-width:780px) {
     .about{
          display: flex;
          flex-direction: column;
          margin: 1rem 1rem;
          margin-bottom: 20rem;
          height: 70rem!important;
          margin-left: 0%;
     }
     
}
@media screen and (max-width:980px) {
     .about{
      display: flex; 
      justify-content:space-between;  flex-direction: row;
     margin: 4rem 1rem;
     margin-top: 7rem;
     height: 60rem;
     }
   
     
}