.card {
  width: 10rem;
  height: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  border: 5px, solid, orange;
  align-items: center;
  text-align: center;
  background-color: rgba(218, 212, 212, 0.658);
  border-radius: 20px;
  box-shadow: var(--boxShadow);
}
.card span:nth-child(3){
     color: var(--gray)
     ;
     font-size: 15px;
}
.card span:nth-child(2){
     
     font-size: 18px;
     margin-bottom: 0;
}
.c-button{
background-color: antiquewhite;
font-size:18px;
font-weight: 600;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 10px;
border: none;
color: rgba(36, 165, 240, 0.945);

}