.works {
  padding: 0 3rem 03rem;
  display: flex;
  height: 90vh;
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.l-left {
  display: flex;
  flex-direction: column;
  position: relative;
}

.l-blur {
  position: absolute;
  width: 50%;
  height: 14rem;
  border-radius: 50%;
  background: #f3eeb8;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(62px);
}
.w-works {
  position: relative;
}
.main-circle {
  left: 8rem;
  position: relative;
  height: 19rem;
  width: 19rem;
  border-radius: 100%;
  box-shadow: var(--boxShadow);
  background-color: white;
  top: 2rem;
}
.main-circle > * {
  position: absolute;
}

.sec-circle:nth-child(1) {
  top: -0.8rem;
  left: 7rem;
}

.sec-circle:nth-child(2) {
  top: 15rem;
  left: 8rem;
}

.sec-circle:nth-child(3) {
  top: 7rem;
  left: -1rem;
}

.sec-circle:nth-child(4) {
  top: 7rem;
  left: 15rem;
}

.sec-circle:nth-child(5) {
  top: 7rem;
  left: 7rem;
}
.sec-circle {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid antiquewhite;
  border-radius: 100%;
  background-color: none;
  box-shadow: var(--boxShadow);
}
.back-circle {
  position: relative;
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
  z-index: -1;
}
.blueC {
  background-color: rgb(11, 250, 198);
  left: 16rem;
  top: -18rem;
}
.yellowC {
  background-color: rgb(147, 19, 221);
  left: 16rem;
  bottom: 21rem;
}
@media screen and (max-width: 580px) {
  .works {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }
  .w-works {
    flex-direction: column;
    justify-content: center;
    margin-right: 18rem;
    
  }
}
