.intro{
     display: flex;
     height: 77vh;
     margin-top: 4rem;
}
.intro-left{
     display: flex;
     position: relative;
     flex:1;
flex-direction: column;
gap: 2rem;




}

.i-name{
     display: flex;
     flex-direction: column;
}
.i-name>:nth-child(1){

color: var(--black);
font-weight: bold;
font-size: 3rem;

}
.intro-right{
     flex: 1;
}